* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri';
}
body {
  background-image: linear-gradient(135deg, #8ac1ef, #ca6ce9, #8ac1ee,#e93356);
  animation:gradient 5s ease infinite;
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position:100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
/* ------------------------------ *\
                  MAIN CONTAINER
\* ------------------------------ */
/* .navbar {
  background-color: #333;
  height: 30px;
  max-width: 370px;
  margin-bottom: 20px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  display: block;
  padding: 0 10px;
} */
/* .navbar i {
  margin-left: 10px;
} */

/* .navbar ul li a:hover {
  color: #d4d4d7;
  transition: background 0.3s;
}
.navbar .active {
  background-color: blue;
  transition: all 0.3s ease;
} */
.container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  background-image: linear-gradient(135deg, aqua, orange);
  animation: gradient1 5s ease infinite;
  background-size: 400% 400%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 870px;  
}
@keyframes gradient1 {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position:100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
/* ====================== *\
          NAVBAR CONTAINER
\* ====================== */

/* ------------------------------ *\
                  IMAGE CONTAINER
\* ------------------------------ */
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image-content img {
  max-width: 180px;
  margin-bottom: 20px;
}
.image-content h3 {
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  background: whitesmoke;
  letter-spacing: 3px;
}
.display-word {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  height: 100px;
}
.display-word .letter {
  width: 30px;
  border-bottom: 3px solid #ff0000;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.display-word .letter.guessed {
  border: transparent;
  margin: -30px 0 15px;
  background: #ff0000;
  color: aliceblue;
}
.game-content h3 {
  text-align: center;
  text-transform: uppercase;
}
.game-content h3 b {
  font-weight: lighter;
  text-transform: lowercase;
}
.game-content .hint b {
  color: blue;
}
.game-content .lives {
  margin-top: 10px;
}
.game-content .lives b {
  color: #ff0000;
  margin-left: 10px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
}
/* ------------------------------ *\
                  KEYBOARD CONTAINER
\* ------------------------------ */
.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 5px;
}
.keyboard button {
  width: calc(100% / 9 - 5px);
}
.keyboard button {
  padding: 5px 1px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, lightsteelblue, whitesmoke);
  cursor: pointer;
  transition: 0.2s ease;
}
.keyboard button:hover {
  transform: scale(120%);
}
.keyboard button[disabled] {
  background: rgba(0,0,0,0.5);
  color: #333;
  pointer-events: none;
}
/* ------------------------------ *\
                          MODAL
\* ------------------------------ */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}
.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}
.modal-container .modal-content {
  background-image: linear-gradient(to bottom, orange, violet);
  padding: 20px 40px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.modal-content img {
  max-width: 140px;
  pointer-events: none;
  margin-bottom: 20px;
}
.modal-content h3 {
  font-size: 32px;
  text-transform: uppercase;
}
.blink {
  animation: blinker 1s infinite;
}
@keyframes blinker {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.modal-content p {
  margin-bottom: 10px;
  font-size: 16px;
}
.modal-content p b {
  color: blue;
  text-transform: uppercase;
}
.modal-content button {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: linear-gradient(to left, aliceblue, lightpink);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  transition: 0.2s ease;
}
.modal-content button:hover {
  background: lightsteelblue;
}

.footer {
  text-align: center;
  color: #333;
  font-size: 14px;
}
/* ------------------------------ *\
                          MOBILE
\* ------------------------------ */
@media(max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}























